<p id="notice"><%= notice %></p>

<h1>Welcome to Clozure</h1>
<hr>
<p>Post stores that are having closure sales for all to share!</p>
  

<h2>Stores</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <% if @stores.empty? %>
  <p>There are no stores yet.</p>
  <% else %>
  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.address %></td>
        <td><%= link_to 'Show', store %></td>
        <td><%= link_to 'Edit', edit_store_path(store) %></td>
        <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Store', new_store_path %>
